*,
*::after,
*::before  {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;;
}

.button {
    min-width: 2rem;
    padding: .5rem .1rem;
    margin: .1rem;
    display: inline-block;
    border-radius: 1rem;
    background: white;
    color: black;
}

.button:hover {
    cursor: pointer;
    background: lightgray;
}

.button--red {
    background: lightcoral;
}

.button--blue {
    background: lightblue;
}